:root{
    --bg-main: rgb(50, 44, 52);
    --white-main: beige; 
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-main);
    color: var(--white-main);
}

#createListBtn{
    width: 30px;
    height: 30px;
}

#createTaskBtn{
    width: 30px;
    height: 30px;
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(0%) contrast(80%);
}

main{
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    justify-items: center;
    margin-right: 25rem;
    margin-left: 5rem;
    margin-top: 2rem;
}

h1,h2,h3{
    font-weight: normal;
}

#tasks{
    background-color: var(--white-main);
    color: var(--bg-main);
    margin-left: 4rem;
    padding: 1rem 2rem;
    width: 27rem;
    min-height: 13rem;
}