main{
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    justify-items: center;
    margin-right: 25rem;
    margin-left: 5rem;
    margin-top: 2rem;
}

h1,h2,h3{
    font-weight: normal;
}

#tasks{
    background-color: var(--white-main);
    color: var(--bg-main);
    margin-left: 4rem;
    padding: 1rem 2rem;
    width: 27rem;
    min-height: 13rem;
}